* {
    margin: 0px;
    font-family: monospace;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 40px;
    color: black;
}

.logo {
    border-radius: 15px;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltip-text-low {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    z-index: 2;
    visibility: hidden;
    background-color: white;
    padding: 10px;
    width: 200px;
    color: black;
    position: absolute;
    bottom: 300%;
    right: -20%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 15px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text-low {
    z-index: 2;
    visibility: hidden;
    background-color: white;
    padding: 10px;
    width: 200px;
    color: black;
    position: absolute;
    bottom: -800%;
    right: -20%;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 15px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon {
    margin-left: 5px;
    height: 20px;
    background-color: white;
    border-radius: 999px;
    transform: translateY(2px);
}

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.white-p {
    color: black;
}

#tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: relative;
    background: linear-gradient(to top right,#36243B 30%, #000042 90%);
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    min-height: 200px;
    padding-bottom: 20px;
}
#announcement {
    position: absolute;
    bottom: 20px;
    font-size: 1.5em;
    transition: all 0.5s ease;
}
header img {
    height:75px;
}

.headerBrand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerForms {
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}

.headerForms form {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.headerForms form input {
    color: white;
    background-color: #00000000;
    background: none;
    border: 1px solid rgba(206, 206, 206, 0.413);
}

.headerForms form label {
    font-size: 15px;
    color: white;
}

#rpcForm {
    width: max-content;
}

#apiForm {
    width: max-content;
}

#rpcInput {
    width: max-content;max-width: 200px;
}

#apiInput {
    width: max-content;
    max-width: 200px;
}

#addressFormWrapper {
    background: linear-gradient(to top right,#4a3450 50%, #000042 );
    border-radius: 0px 25px 0px 25px;
    max-width: 75vw;
}

#addressForm label {
    font-size: 20px;
}

#addressForm button {
    height: 68px;
    width: 120px;
    font-size: 20px;
    padding: 6px;
    border-radius: 0px 25px 0px 0px;
    max-width: 30vw;
}

#addressInput {
    border-radius: 0px 0px 0px 25px;
    height: 56px;
    width: 500px;
    padding: 6px;
    font-size: 20px;
    max-width: 40vw;

}

form {
    margin-top: 20px;
}

form input {
    background: linear-gradient(to top right,#4a3450 50%, #000042 );
    border-radius: 0px 0px 0px 15px;
    padding: 6px;
    border: none;
    border-right: 1px solid gray;
    color: white;
    font-weight: bold;
}

form button {
    cursor: pointer;
    padding:6px;
    border:none;
    color: white;
    font-weight: bold;
    font-weight: 600;
    background-color:#000042;
    border-radius: 0px 15px 0px 0px;
    transition: all 0.3s ease;
}

form button:hover {
    background-color:#4a3450;
}

form label {
    font-size: 15px;
    color: black;
}

table {
    overflow-x: scroll;
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-weight: bold;
    border-radius: 15px;
    font-size: 20px;
    word-break:normal;
    max-width: 90vw;
    overflow: scroll;
}

th {
    background-color: #f1efef93;
    height: 60px;
    width: 8vw;
}

td, th {
    max-width: 8vw;
    border: 1px solid rgb(206, 206, 206);
    border-right: none;
    padding: 8px;
    text-align: left;
}

td {
    height: 60px;
    text-align: center;
}

tr {
    color: black;
    border-right: 1px solid rgb(206, 206, 206);
}
#positionTables {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.positionTable {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;

}
.positionTable td {
    width: 8vw;
}

.position{
    margin-bottom: 0px;
}

.adjustments {
    align-self: flex-start;
    visibility: collapse;
}
.smolText {
    font-size: 10px;
}
.mediumSmolText {
    font-size: 14px;
}
.mediumText {
    font-size: 18px;
}
.redTd {
    color: rgb(236, 63, 63);
}

.greenTd {
    color: rgb(0, 166, 0);
}

.poolName{
    text-align: start;
}

.poolName a {
    color: black;
}

.positionAddress {
    text-decoration: underline;
    text-align: start;
    cursor: pointer;
    font-size: 18px;
}

.positionAddress a{
    color: black
}

.important {
    font-weight: 800;
    font-size: 22px;
}

.invisTd {
    background-color: rgba(255, 255, 255, 0);
    border: none !important;
    border-right: 1px solid rgb(206, 206, 206);
}

.expand {
    cursor: pointer;
    border: 1px solid  rgb(206, 206, 206);
    color: white;
    background:  linear-gradient(to top right,#726076 20%, #000042 90%);
    padding:5px 10px 5px 10px;
    border-radius: 20px;
}

.text-left {
    text-align: left;
}

.poolLogo {
    border-radius: 999px;
    height: 30px;
    border: 1px solid black;
}

.poolLogos :nth-child(2) {
    transform: translateX(-10px);
}

.poolLogos {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.loader {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    max-width: 80vw;
}

.loader img {
    height: 125px;
    border: 3px solid skyblue;
    border-radius: 0px 60px;
}
.loader .flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.progressArea {
    width: 50ch;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader .progressBar {
    height: 20px;
    width: 300px;
    max-width: 60vw;
    border-radius: 999px;
    background-color: gray;
}

#progress {
    background-color: blue;
    height: 20px;
    width: 15px;
    border-radius: 99px;
    transition:all 1s ease;
}

.positionHeader {
    cursor: pointer;
}

.positionHeader .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 60000s;
  -webkit-text-fill-color: #fff !important;
}


#poolsDropdown {
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 30px;
    padding-right: 50px;
    border-radius: 10px;
}

#poolsDropdown .pool {
    max-width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

#poolsDropdown .pool label :first-child {
    transform: translateX(10px);
}

#poolsDropdown .pool label{
    transform: translateX(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#poolsDropdown .pool input{
    transform: translateX(15px);
   height: 20px;
   width: 20px;
}

.textWhite {
    color: white;
}
.poolsSelector {
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    width: 5vw;
    min-width: max-content;
    color: white;
    border: none;
    align-self: center;
    background: linear-gradient(to top right,#726076 20%, #000042 90%);
    transition: all 0.2s ease-in;
}
.poolsSelector:hover {
    opacity: 0.7;
}


footer {
    margin-top: 10vh;
}
footer h2{
    font-size: 25px;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.socialIcon img {
    height: 50px;
}

.greyscale {
    filter: grayscale(1);
}