* {
    margin: 0px;

}
.logo {
    border-radius: 15px;
}

.tooltip {
    position: relative;
    display: inline;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.tooltip:hover .tooltip-text-low {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    z-index: 2;
    visibility: hidden;
    background-color: white;
    padding: 10px;
    width: 200px;
    color: black;
    position: absolute;
    bottom: 300%;
    right: -20%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-text-low {
    z-index: 2;
    visibility: hidden;
    background-color: white;
    padding: 10px;
    width: 200px;
    color: black;
    position: absolute;
    bottom: -800%;
    right: -20%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.positionAddress {
    text-decoration: underline;
    cursor: pointer;
}
.positionAddress a{color: white}
.info-icon {
    height: 14px;
    background-color: white;
    border-radius: 999px;
    transform: translateY(2px);
}
.App {
  text-align: center;
  background-color: #000042;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
#tracker {
    margin-top: 10vh;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: white;
}
header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
header img {
    height: 100px;
}


.headerBrand {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.headerForms {
    margin-right: 25px;
    display: flex;
}

.headerForms form {
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
    border: 1px solid white;
}

h2 {
    color: white;
}

form {
    margin-top: 20px;
}
form input {
    background-color: #00004200;
    border: 1px solid white;
    border-radius: 999px 0px 0px 999px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
form button {
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    color: black;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 0px 999px 999px 0px;
    transition: 0.3 ease;
}

form button &:hover {
    color: beige;
    background-color: #000042;
}

form label {
    font-size: 12px;
    color: wheat;
}
 
#positionTables {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5vh;
}

.positionTable {
    min-height: 10vh;
    font-size: 12px;
    font-weight: bold;
}

.redTd {
    color: red;
}
.greenTd {
    color: rgb(0, 255, 0);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-weight: bold;
  }
  
  th {
    background-color: #02027a;
  }
  td, th {
    border-right: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: left;
  }
  td {
    text-align: end;
  }
  tr:nth-child(even) {
      background-color: #a4a3a3;
      color: white;
  }
  tr:nth-child(odd) {
    background-color: #7c7c7c;
    color: white;
}

.poolName a {
    color: white;
}
.poolName{
    text-align: start;
}
.positionAddress{
    text-align: start;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
